.btn, a.btn, .btn-default {
    background: $orange;
    @include border-radius(50px);
    border: 2px solid $light - 10;
    color: $light - 10;
    box-sizing: border-box;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 30px auto;
    padding: 15px;
    white-space:normal !important;
    width: 350px;
    word-wrap:break-word;
    
    transition: all 0.5s ease-in-out;
     
    @media only screen and (max-width: 760px) {
        width: 60%;
    }
}
a.btn:hover, .btn:hover, .btn-default:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: none;
    border: 2px solid $orange;
    color: $orange;
    margin:30px 0 30px 0;
    text-shadow: none;
    cursor: default;
}
