section {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  &.features {
    padding-bottom: 50px;
    text-align: left !important;
  }
}

@media only screen and (max-width: 991px) {
  section {
    text-align: center;
  }
  .btn,
  a.btn,
  .btn-default {
    margin: 0 auto !important;
  }
}
