$base-font-size:15px;
$base-font-family: "'Source Sans Pro'", sans-serif;
$circle:250px;
$small-circle:120px;

$orange:#E76700;
$light:#e0e0e0;
$med:#777777;
$dark:#00000c;
$link:#666666;
$hover:#4472B9;
$shadow:#090909;


